body{
	text-align: center;
	color: white;
	background-color: blueviolet;
	font-family: helvetica, sans-serif;
}

header{
	text-align: center;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
	padding: 5px 0;
}

h1{
	font-size: 38px;
	background: -webkit-linear-gradient(109.6deg, rgb(251 255 0) 11.2%, rgb(255 255 255) 91.1%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-decoration: none;
}

section.start-container{
	text-align: center;
}

section.start-container h4{
	font-size: 25px;
}

.levels{
	width: 150px;
	height: 30px;
	border-radius: 5px;
	border: none;
	text-align: center;
	margin-right: 5px;
}

.levels:focus{
	outline: 2px solid #fbff00;
}

.start-btn{
	background-color: #000;
	color: #fbff00;
	border: none;
	border-radius: 5px 5px 20px 20px;
	width: 70px;
	height: 30px;
}

.start-btn:hover{
	background-color: #fff;
	color: blueviolet;
}

.restart-btn{
	background-color: #fff;
	color: blueviolet;
	border: none;
	border-radius: 5px 5px 20px 20px;
	width: 70px;
	height: 30px;
}

.restart-btn:hover{
	background-color: #000;
	color: #fbff00;
}

.tap-btn{
	width: 200px;
	height: 160px;
	background-color: gold;
	color: blueviolet;
	border: 2px solid white;
	border-radius: 10px;
	font-size: 30px;
}

.tap-btn:disabled{
	background-color: white;
	color: gold;
	border: 2px solid gold;
	border-radius: 10px;
}

.high-score-alert{
	color: #fbff00;
}

.hide{
	display: none;
}